:root {
    --white: #F5F5F5;
    --blue: #184677;
    --yellow: #FFEE99;
    --green: #CEE3B5;
    --red: #F4A4A4;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

p, label, input, article, li {
    font-family: 'Play', sans-serif;
}

header {
    margin: 1em auto 5em auto;
}

h1 {
    width: fit-content;
    margin: 0 auto 0.5em auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: var(--blue);
}

header p {
    width: fit-content;
    margin: auto;
    color: var(--blue);
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

em {
    letter-spacing: 0.075em;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0.5em auto 0.5em;
    grid-column-gap: 1em;
    column-gap: 1em;
}

label, input, ul {
    display: block;
}

label {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--blue);
    margin: 0 auto 0.25em auto;
}

input {
    font-size: 1em;
}

ul {
    list-style: none;
}

li {
    display: flex;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #E0E0E0;
}

li:hover {
    cursor: pointer;
}

li img {
    height: 6em;
    width: auto;
}

li span {
    color: var(--blue);
    align-self: center;
    margin-left: 0.5em;
}

#results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 0.5em auto 0.5em;
    grid-column-gap: 1em;
    column-gap: 1em;
}

#results article {
    color: var(--blue);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
    column-gap: 1em;
}

#results img {
    height: 12em;
    width: auto;
}

#results h2, #results h3 {
    margin-bottom: 0.5em;
}

#results h2 {
    font-size: 2em;
}

#results h3 {
    font-size: 1.5em;
}

.grid p {
    width: 50ch;
}

.card {
    margin: 0.5em 0;
    padding: 1em;
    background-color: #E0E0E0;
    font-size: 1.25em;
}

.winner {
    background-color: var(--green);
}

.looser {
    background-color: var(--red);
}

.tie {
    background-color: var(--yellow);
}