:root {
    --white: #F5F5F5;
    --blue: #184677;
    --yellow: #FFEE99;
    --green: #CEE3B5;
    --red: #F4A4A4;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

p, label, input, article, li {
    font-family: 'Play', sans-serif;
}

header {
    margin: 1em auto 5em auto;
}

h1 {
    width: fit-content;
    margin: 0 auto 0.5em auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: var(--blue);
}

header p {
    width: fit-content;
    margin: auto;
    color: var(--blue);
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

em {
    letter-spacing: 0.075em;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0.5em auto 0.5em;
    grid-column-gap: 1em;
    column-gap: 1em;
}

label, input, ul {
    display: block;
}

label {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--blue);
    margin: 0 auto 0.25em auto;
}

input {
    font-size: 1em;
}

ul {
    list-style: none;
}

li {
    display: flex;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #E0E0E0;
}

li:hover {
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.5);
}

li img {
    height: 6em;
    width: auto;
}

li span {
    color: var(--blue);
    align-self: center;
    margin-left: 0.5em;
}

.results {
    margin: 1em 0.5em auto 0;
}

.results article {
    color: var(--blue);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
    column-gap: 1em;
    height: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.results img {
    height: 12em;
    width: auto;
}

.results h2 {
    margin-bottom: 0.5em;
    font-size: 2em;
}

.results h3 {
    font-size: 1.5em;
}

.grid p {
    max-width: 50ch;
}

.card {
    margin: 0.5em 0;
    padding: 1em;
    background-color: #E0E0E0;
    font-size: 1.25em;
}

.winner {
    background-color: var(--green);
}

.looser {
    background-color: var(--red);
}

.tie {
    background-color: var(--yellow);
}

@media (max-width: 1303px) {
    #form {
        grid-column-gap: 0.5em;
        column-gap: 0.5em;
    }

    .results h2 {
        font-size: 1.75em;
    }
    
    .results h3 {
        font-size: 1.25em;
    }

    .card {
        padding: 0.75em;
        font-size: 1.1em;
    }
}

@media (max-width: 1126px) {
    #form {
        grid-column-gap: 0.25em;
        column-gap: 0.25em;
    }

    .results h2 {
        font-size: 1.75em;
    }
    
    .results h3 {
        font-size: 1.25em;
    }

    .card {
        padding: 0.5em;
        font-size: 1.05em;
    }
}

@media (max-width: 1109px) {
    #form {
        grid-column-gap: 0.25em;
        column-gap: 0.25em;
    }

    .results h2 {
        font-size: 1.7em;
    }
    
    .results h3 {
        font-size: 1.2em;
    }

    .card {
        padding: 0.5em;
        font-size: 1.05em;
    }
}

@media (max-width: 1086px) {
    #form {
        grid-column-gap: 0.25em;
        column-gap: 0.25em;
    }

    .results h2 {
        font-size: 1.5em;
    }
    
    .results h3 {
        font-size: 1.1em;
    }

    .card {
        padding: 0.5em;
        font-size: 1.05em;
    }
}

@media (max-width: 1056px) {
    #form {
        grid-column-gap: 0.1em;
        column-gap: 0.1em;
    }

    .results h2 {
        font-size: 1.5em;
    }
    
    .results h3 {
        font-size: 1.1em;
    }

    .card {
        padding: 0.25em;
        font-size: 1.em;
    }
}

@media (max-width: 1050px) {
    #form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .results h2 {
        font-size: 2em;
    }
    
    .results h3 {
        font-size: 1.5em;
    }

    .card {
        padding: 1em;
        font-size: 1.25em;
    }
}

@media (max-width: 651px) {
    #form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .results h2 {
        font-size: 1.75em;
    }
    
    .results h3 {
        font-size: 1.25em;
    }

    .card {
        padding: 0.75em;
        font-size: 1.1em;
    }
}

@media (max-width: 535px) {
    header {
        margin: 1em auto 4em auto;
    }

    h1 {
        font-size: 2.5em;
    }
    
    header p {
        font-size: 1.25em;
    }

    #form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    input {
        width: 90vw;
    }

    .results h2 {
        font-size: 1.75em;
    }
    
    .results h3 {
        font-size: 1.25em;
    }

    .card {
        padding: 0.75em;
        font-size: 1.1em;
    }
}

@media (max-width: 423px) {
    header {
        margin: 1em auto 4em auto;
    }

    h1 {
        font-size: 2.5em;
    }
    
    header p {
        font-size: 1.25em;
    }

    #form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    input {
        width: 90vw;
    }

    .results h2 {
        font-size: 1.5em;
    }
    
    .results h3 {
        font-size: 1.1em;
    }

    .card {
        padding: 0.5em;
        font-size: 1.05em;
    }
}

@media (max-width: 367px) {
    header {
        margin: 1em auto 4em auto;
    }
    
    h1 {
        font-size: 2em;
    }
    
    header p {
        font-size: 1.1em;
    }

    #form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    input {
        width: 90vw;
    }

    .results h2 {
        font-size: 1.25em;
    }
    
    .results h3 {
        font-size: 1em;
    }

    .card {
        padding: 0.5em;
        font-size: 1.05em;
    }
}